# Query 5.1
For your chosen stock, calculate the mean daily return and daily standard deviation of returns, and then just annualise them to get mean expected annual return and volatility of that single stock. ( annual mean = daily mean 252 , annual stdev = daily stdev sqrt(252) )

In [1]:
import pandas as pd

itc_stock_data = pd.read_csv('ITC.csv')
itc_stock_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,ITC,EQ,15-May-2017,274.95,275.90,278.90,275.50,278.50,277.95,277.78,5462855,1.517477e+09,52501,4128324,75.57
1,ITC,EQ,16-May-2017,277.95,278.50,284.30,278.00,283.00,283.45,280.93,11204308,3.147583e+09,98347,8307567,74.15
2,ITC,EQ,17-May-2017,283.45,284.10,284.40,279.25,281.50,281.65,281.56,8297700,2.336261e+09,99107,5924804,71.40
3,ITC,EQ,18-May-2017,281.65,278.00,281.05,277.05,277.65,277.90,278.49,7924261,2.206822e+09,47830,5434449,68.58
4,ITC,EQ,19-May-2017,277.90,282.25,295.65,281.95,286.40,286.20,290.08,35724128,1.036268e+10,248579,19137631,53.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,ITC,EQ,07-May-2019,307.00,308.25,309.50,300.85,302.45,301.90,305.31,8655871,2.642695e+09,99220,4557484,52.65
492,ITC,EQ,08-May-2019,301.90,300.00,303.40,298.65,300.60,300.65,301.46,7876031,2.374343e+09,104147,4687591,59.52
493,ITC,EQ,09-May-2019,300.65,299.40,301.30,296.35,299.85,299.85,299.17,10223616,3.058551e+09,129794,5965688,58.35
494,ITC,EQ,10-May-2019,299.85,300.00,300.45,296.90,297.15,297.75,298.68,6904657,2.062297e+09,132469,4024203,58.28
495,ITC,EQ,13-May-2019,297.75,295.10,303.50,287.70,288.80,289.30,296.21,35880558,1.062813e+10,226154,14476904,40.35

In [2]:
import numpy as np
itc_stock_data['Daily Return'] = (itc_stock_data['Close Price']).pct_change() 
itc_stock_data['Daily Return'] = itc_stock_data['Daily Return'].replace([np.inf, -np.inf], np.nan)
itc_stock_data = itc_stock_data.dropna()
print("Mean Daily Return")
itc_stock_data['Daily Return'].mean()

Mean Daily Return

0.00018151806478190503

In [3]:
itc_stock_data['Daily Standard Deviation'] = (itc_stock_data['Close Price']).pct_change() 
itc_stock_data['Daily Standard Deviation'] = itc_stock_data['Daily Standard Deviation'].replace([np.inf, -np.inf], np.nan)
itc_stock_data = itc_stock_data.dropna()
print("Daily Standard Deviation")
itc_stock_data['Daily Standard Deviation'].std()

Daily Standard Deviation

<ipython-input-3-9da6fe778619>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  itc_stock_data['Daily Standard Deviation'] = (itc_stock_data['Close Price']).pct_change()
<ipython-input-3-9da6fe778619>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  itc_stock_data['Daily Standard Deviation'] = itc_stock_data['Daily Standard Deviation'].replace([np.inf, -np.inf], np.nan)

0.014122617655045635

In [4]:
annual_mean =  -0.0002659107842087934 * 252
print("Annual Mean: "+ str(annual_mean))

Annual Mean: -0.06700951762061594

In [5]:
import math
annual_stdev = 0.013515857199631161 * math.sqrt(252)
print("Annual Standard Deviation: "+ str(annual_stdev))

Annual Standard Deviation: 0.2145575814365156

# Query 5.2
Now, we need to diversify our portfolio. Build your own portfolio by choosing any 5 stocks, preferably of different sectors and different caps. Assume that all 5 have the same weightage, i.e. 20% . Now calculate the annual returns and volatility of the entire portfolio ( Hint : Don't forget to use the covariance )

In [7]:
fortis_data = pd.read_csv('FORTIS.csv', sep='\s*,\s*',
                           header=0, encoding='ascii', engine='python')
fortis_data

,"""Symbol""","""Series""","""Date""","""Prev Close""","""Open Price""","""High Price""","""Low Price""","""Last Price""","""Close Price""","""Average Price""","""Total Traded Quantity""","""Turnover""","""No. of Trades""","""Deliverable Qty""","""% Dly Qt to Traded Qty"""
0,"""FORTIS""","""EQ""","""15-May-2017""",""" 208.40""",""" 208.40""",""" 209.65""",""" 204.05""",""" 206.75""",""" 205.25""",""" 205.66""",""" 9078354""",""" 1867054982.65""",""" 24607""",""" 5980115""",""" 65.87"""
1,"""FORTIS""","""EQ""","""16-May-2017""",""" 205.25""",""" 206.25""",""" 209.45""",""" 205.45""",""" 207.70""",""" 207.90""",""" 207.86""",""" 2146212""",""" 446110937.10""",""" 15071""",""" 1127662""",""" 52.54"""
2,"""FORTIS""","""EQ""","""17-May-2017""",""" 207.90""",""" 208.00""",""" 210.80""",""" 204.90""",""" 205.30""",""" 205.90""",""" 208.01""",""" 3032479""",""" 630785426.70""",""" 21453""",""" 1609171""",""" 53.06"""
3,"""FORTIS""","""EQ""","""18-May-2017""",""" 205.90""",""" 204.00""",""" 205.25""",""" 195.00""",""" 195.80""",""" 196.85""",""" 200.05""",""" 2852401""",""" 570619895.75""",""" 18709""",""" 1337328""",""" 46.88"""
4,"""FORTIS""","""EQ""","""19-May-2017""",""" 196.85""",""" 197.80""",""" 204.90""",""" 196.45""",""" 204.20""",""" 203.55""",""" 200.95""",""" 4144993""",""" 832917326.10""",""" 37949""",""" 1424440""",""" 34.37"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,"""FORTIS""","""EQ""","""07-May-2019""",""" 136.35""",""" 136.00""",""" 136.70""",""" 135.00""",""" 135.35""",""" 135.20""",""" 135.94""",""" 165465""",""" 22493161.85""",""" 865""",""" 99695""",""" 60.25"""
491,"""FORTIS""","""EQ""","""08-May-2019""",""" 135.20""",""" 135.35""",""" 135.75""",""" 133.30""",""" 133.50""",""" 133.60""",""" 134.16""",""" 377871""",""" 50693610.20""",""" 2454""",""" 246366""",""" 65.20"""
492,"""FORTIS""","""EQ""","""09-May-2019""",""" 133.60""",""" 133.60""",""" 133.75""",""" 132.30""",""" 133.05""",""" 133.00""",""" 132.89""",""" 959494""",""" 127506510.15""",""" 7299""",""" 798500""",""" 83.22"""
493,"""FORTIS""","""EQ""","""10-May-2019""",""" 133.00""",""" 133.05""",""" 133.60""",""" 131.00""",""" 131.50""",""" 131.90""",""" 132.55""",""" 868778""",""" 115155250.65""",""" 3592""",""" 658577""",""" 75.80"""
494,"""FORTIS""","""EQ""","""13-May-2019""",""" 131.90""",""" 131.10""",""" 132.05""",""" 129.20""",""" 129.80""",""" 129.70""",""" 130.51""",""" 412786""",""" 53870829.80""",""" 2896""",""" 322608""",""" 78.15"""

In [9]:
hdfc_data = pd.read_csv('HDFC.csv', sep='\s*,\s*',
                           header=0, encoding='ascii', engine='python')
hdfc_data

,"""Symbol""","""Series""","""Date""","""Prev Close""","""Open Price""","""High Price""","""Low Price""","""Last Price""","""Close Price""","""Average Price""","""Total Traded Quantity""","""Turnover""","""No. of Trades""","""Deliverable Qty""","""% Dly Qt to Traded Qty"""
0,"""HDFC""","""EQ""","""15-May-2017""",""" 1549.80""",""" 1554.50""",""" 1572.60""",""" 1554.10""",""" 1561.00""",""" 1559.50""",""" 1562.62""",""" 1270297""",""" 1984989921.95""",""" 59917""",""" 955875""",""" 75.25"""
1,"""HDFC""","""W2""","""15-May-2017""",""" 204.45""",""" 217.95""",""" 217.95""",""" 205.00""",""" 205.00""",""" 205.00""",""" 209.50""",""" 29200""",""" 6117400.00""",""" 4""",""" 29200""",""" 100.00"""
2,"""HDFC""","""EQ""","""16-May-2017""",""" 1559.50""",""" 1558.00""",""" 1569.00""",""" 1554.00""",""" 1568.00""",""" 1566.55""",""" 1564.05""",""" 2114918""",""" 3307844027.00""",""" 79354""",""" 1652379""",""" 78.13"""
3,"""HDFC""","""EQ""","""17-May-2017""",""" 1566.55""",""" 1565.50""",""" 1570.95""",""" 1549.75""",""" 1550.10""",""" 1552.50""",""" 1557.08""",""" 2161434""",""" 3365526233.20""",""" 80317""",""" 1794472""",""" 83.02"""
4,"""HDFC""","""W2""","""17-May-2017""",""" 205.00""",""" 204.95""",""" 207.00""",""" 204.95""",""" 207.00""",""" 207.00""",""" 205.75""",""" 73000""",""" 15019385.00""",""" 10""",""" 73000""",""" 100.00"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,"""HDFC""","""EQ""","""07-May-2019""",""" 1965.45""",""" 1974.80""",""" 2009.15""",""" 1959.20""",""" 1964.50""",""" 1966.30""",""" 1983.01""",""" 2683956""",""" 5322315113.40""",""" 114029""",""" 1522276""",""" 56.72"""
825,"""HDFC""","""EQ""","""08-May-2019""",""" 1966.30""",""" 1964.50""",""" 1964.50""",""" 1925.05""",""" 1930.10""",""" 1930.75""",""" 1941.55""",""" 3626183""",""" 7040421902.80""",""" 151779""",""" 2378973""",""" 65.61"""
826,"""HDFC""","""EQ""","""09-May-2019""",""" 1930.75""",""" 1926.00""",""" 1931.60""",""" 1901.30""",""" 1914.15""",""" 1914.60""",""" 1918.15""",""" 1932792""",""" 3707381697.90""",""" 130444""",""" 1132999""",""" 58.62"""
827,"""HDFC""","""EQ""","""10-May-2019""",""" 1914.60""",""" 1915.25""",""" 1956.00""",""" 1910.75""",""" 1926.80""",""" 1931.70""",""" 1936.05""",""" 1628923""",""" 3153681605.60""",""" 97684""",""" 811832""",""" 49.84"""
828,"""HDFC""","""EQ""","""13-May-2019""",""" 1931.70""",""" 1926.10""",""" 1984.40""",""" 1917.85""",""" 1957.00""",""" 1952.90""",""" 1958.85""",""" 4509527""",""" 8833503907.25""",""" 139299""",""" 1332224""",""" 29.54"""

In [11]:
bpcl_data = pd.read_csv('BPCL.csv')
bpcl_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,BPCL,EQ,15-May-2017,733.15,734.65,736.00,723.00,729.00,727.85,728.22,839675,6.114684e+08,18823,289193,34.44
1,BPCL,EQ,16-May-2017,727.85,727.00,735.00,723.00,733.25,733.30,729.34,871521,6.356351e+08,21083,282494,32.41
2,BPCL,EQ,17-May-2017,733.30,732.90,734.00,723.50,727.05,727.45,727.80,1141029,8.304360e+08,35138,537536,47.11
3,BPCL,EQ,18-May-2017,727.45,722.20,727.50,711.00,712.60,714.90,717.16,1047741,7.513945e+08,29422,351569,33.55
4,BPCL,EQ,19-May-2017,714.90,715.25,722.45,700.00,703.50,702.45,709.17,1069546,7.584880e+08,44401,407185,38.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,BPCL,EQ,07-May-2019,390.35,388.45,388.45,372.10,380.00,378.85,377.34,7497322,2.829018e+09,90459,1364064,18.19
491,BPCL,EQ,08-May-2019,378.85,378.05,383.40,373.10,376.40,379.80,379.30,3801308,1.441828e+09,58078,858245,22.58
492,BPCL,EQ,09-May-2019,379.80,379.60,379.60,366.55,367.70,368.05,371.61,4513542,1.677287e+09,45216,790374,17.51
493,BPCL,EQ,10-May-2019,368.05,367.05,367.50,359.80,362.45,362.95,361.95,4116360,1.489908e+09,51910,868426,21.10
494,BPCL,EQ,13-May-2019,362.95,362.00,367.95,352.85,354.10,355.10,360.13,3810145,1.372138e+09,36083,945955,24.83

In [12]:

itc_data = pd.read_csv('ITC.csv')
itc_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,ITC,EQ,15-May-2017,274.95,275.90,278.90,275.50,278.50,277.95,277.78,5462855,1.517477e+09,52501,4128324,75.57
1,ITC,EQ,16-May-2017,277.95,278.50,284.30,278.00,283.00,283.45,280.93,11204308,3.147583e+09,98347,8307567,74.15
2,ITC,EQ,17-May-2017,283.45,284.10,284.40,279.25,281.50,281.65,281.56,8297700,2.336261e+09,99107,5924804,71.40
3,ITC,EQ,18-May-2017,281.65,278.00,281.05,277.05,277.65,277.90,278.49,7924261,2.206822e+09,47830,5434449,68.58
4,ITC,EQ,19-May-2017,277.90,282.25,295.65,281.95,286.40,286.20,290.08,35724128,1.036268e+10,248579,19137631,53.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,ITC,EQ,07-May-2019,307.00,308.25,309.50,300.85,302.45,301.90,305.31,8655871,2.642695e+09,99220,4557484,52.65
492,ITC,EQ,08-May-2019,301.90,300.00,303.40,298.65,300.60,300.65,301.46,7876031,2.374343e+09,104147,4687591,59.52
493,ITC,EQ,09-May-2019,300.65,299.40,301.30,296.35,299.85,299.85,299.17,10223616,3.058551e+09,129794,5965688,58.35
494,ITC,EQ,10-May-2019,299.85,300.00,300.45,296.90,297.15,297.75,298.68,6904657,2.062297e+09,132469,4024203,58.28
495,ITC,EQ,13-May-2019,297.75,295.10,303.50,287.70,288.80,289.30,296.21,35880558,1.062813e+10,226154,14476904,40.35

In [13]:
gail_data = pd.read_csv('GAIL.csv')
gail_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,GAIL,EQ,15-May-2017,409.20,413.05,415.25,410.00,413.80,414.00,412.83,1077551,4.448488e+08,22153,459059,42.60
1,GAIL,EQ,16-May-2017,414.00,415.80,416.00,410.25,411.00,411.40,412.85,2434834,1.005216e+09,46472,1771251,72.75
2,GAIL,EQ,17-May-2017,411.40,411.50,412.90,405.60,408.50,408.30,408.42,2002105,8.177070e+08,48972,1405319,70.19
3,GAIL,EQ,18-May-2017,408.30,406.35,409.00,401.50,403.00,404.75,407.03,2132140,8.678451e+08,39137,1405640,65.93
4,GAIL,EQ,19-May-2017,404.75,404.00,406.35,396.00,401.35,401.05,400.31,2847835,1.140022e+09,64928,1922275,67.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,GAIL,EQ,07-May-2019,346.25,348.00,356.95,339.65,341.40,340.75,342.24,3456457,1.182924e+09,53960,1950942,56.44
490,GAIL,EQ,08-May-2019,340.75,341.00,345.15,336.40,337.50,337.50,340.43,3681837,1.253406e+09,51177,2069654,56.21
491,GAIL,EQ,09-May-2019,337.50,337.10,341.45,333.05,340.60,340.40,337.63,2761414,9.323433e+08,47265,1521196,55.09
492,GAIL,EQ,10-May-2019,340.40,341.00,343.80,338.20,340.75,341.55,341.45,1859456,6.349203e+08,46971,806093,43.35
493,GAIL,EQ,13-May-2019,341.55,341.55,342.80,330.30,332.60,332.05,335.73,1673740,5.619246e+08,28083,516873,30.88

In [16]:

data['FORTIS'] = pd.DataFrame(fortis_data['"Close Price"'])
data['HDFC'] = pd.DataFrame(hdfc_data['"Close Price"'])
data['BPCL'] = pd.DataFrame(bpcl_data['Close Price'])
data['ITC'] = pd.DataFrame(itc_data['Close Price'])
data['GAIL'] = pd.DataFrame(gail_data['Close Price'])
print("Closing Prices of the 5 respective stocks")
data

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series